
.navigation{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgb(0,163,224);
    color: #fff;
}

.title{
    display: flex;
}

.logo img{
    width: 40px;
    height: 40px;
    border: 1px solid red;
}

.menu ul{
    display: flex;
}