
.navigation{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgb(0,163,224);
    color: #fff;
}

.title{
    font-size: 2rem;
}

.logo img{
    width: 40px;
    height: 40px;
}

.menu ul{
    display: flex;
    list-style: none;
}

.menu ul li{
    padding: 5px 10px;
    cursor: pointer;
}

.active{
    background: rgb(242,231,71);
    color: #333333;
}

@media (max-width: 800px){
    .navigation{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}