<div class="clients-page">
    <!-- სათაურის ზოლი -->
    <div class="clients-header">
        <button class="button" (click)="onCreatClient()">
            კლიენტის დამატება
            <div class="icon">
                <fa-icon [icon]="faPlusCircle"></fa-icon>
            </div>
        </button>
        <h2>კლიენტთა ცნობარი</h2>
        <div class="search" title="პირადი ნომრით ძიება">
            <input type="text" (change)="getSearchPersonId($event)">
            <div class="icon" (click)="onSearchByPersonId()">
                <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
            </div>
        </div>
    </div>

    <!-- ფილტრაციის მენიუ -->
    <div class="filter-menu">
        <form [formGroup]="filterForm" (ngSubmit)="onFilterClients()">
            <div class="input-group">
                <label for="name">სახელი: </label>
                <input type="text" id="name" formControlName="name">
            </div>
            <div class="input-group">
                <label for="surname">გვარი: </label>
                <input type="text" id="surname" formControlName="surname">
            </div>
            <div class="input-group">
                <label for="country">ქვეყანა: </label>
                <input type="text" id="country" formControlName="country">
            </div>
            <div class="input-group">
                <label for="city">ქალაქი: </label>
                <input type="text" id="city" formControlName="city">
            </div>
            <button type="submit" class="filter-box">
                ფილტრი
            </button>
            <div class="icon" title="ქვეყნის,ქალაქის მონაცემები იფილტრება ფაქტიური მისამართით">
                <fa-icon [icon]="faExclamation"></fa-icon>
            </div>
        </form>

        <!-- სორტირებისთვის -->
        <select name="sortValues" id="sortValues" class="sortation"  [value]="sortValue" (change)="changeSort($event)">
            <option value="namesUp">სახელით: ა-ჰA-Z</option>
            <option value="namesDown">სახელით: ჰ-აZ-A</option>
            <option value="surnamesUp">გვარით: ა-ჰA-Z</option>
            <option value="surnamesDown">გვარით: ჰ-აZ-A</option>
        </select>
    </div>
    
    <!-- კლიენტთა სია -->
    <div class="client-list" *ngIf="!error">
        <!-- სიის სვეტების სათაურები -->
        <div class="list-header">
            <div class="list-box edit">
                რედაქტირება
            </div>
            <div class="list-box">
                სახელი
            </div>
            <div class="list-box">
                გვარი
            </div>
            <div class="list-box">
                პირადი ნომერი
            </div>
            <div class="list-box">
                დეტალურად
            </div>
            <div class="list-box">
                წაშლა
            </div>
        </div>

        <!-- კლიენტთა მონაცემის გამოტანა -->
        <div class="client" *ngFor="let client of clients; let i = index" [@clientState]>
            <div class="list-box edit" (click)="onEditClient(client.id)">
                <fa-icon [icon]="faPenToSquare"></fa-icon>
            </div>
            <div class="list-box name">
                {{ client.name }}
            </div>
            <div class="list-box">
                {{ client.surname }}
            </div>
            <div class="list-box">
                {{ client.person_id }}
            </div>
            <div class="list-box details" (click)="onSingleClientPage(client.id)">
                დეტალურად
            </div>
            <div class="list-box delete" (click)="onDeleteClient(i)">
                <fa-icon [icon]="faTrashCan"></fa-icon>
            </div>
        </div>
    </div>

    <!-- ერორის ფანჯარა რაიმე შეცდომის შემთხვევაში -->
    <div class="error" *ngIf="error">
        <h1>An Error Occured</h1>
        <p> {{ error }} </p>
    </div>
</div>


