.clients-page{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.clients-header{
    width: 80%;
    margin-top: 10px;
    background: #333333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button{
    font-size: 1.1rem;
    padding: 10px;
    display: flex;
    background: rgb(242,231,71);
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(242,231,71), 0 3px 3px rgb(242,231,71);
    cursor: pointer;
}

.icon{
    margin-left: 5px;
}

fa-icon{
    font-size: 1.3rem;
    color: #333333;
}

.clients-header h2{
    color: #fff;
}

.client-list{
    margin-top: 20px;
    max-height: 550px;
    overflow-x: auto;
}

.list-header{
    display: flex;
}

.list-header>div{
    background: #333333;
    color: rgb(242,231,71);
}

.list-box{
    padding: 5px 10px;
    margin: 5px;
    width: 200px;
    text-align: center;
    border: 1px solid #000;
}

.client{
    display: flex;
}

.delete fa-icon{
    color: red;
}

.error{
    margin-top: 20px;
    color: red;
    background: rgb(248, 165, 165);
    padding: 20px 30px;
}

.edit, .delete, .details{
    cursor: pointer;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(242,231,71);
    padding: 5px;
    border-radius: 5px;
}

.search input{
    width: 0;
    display: none;
    outline: none;
    border-radius: 5px;
    height: 30px;
    font-size: 1.2em;
    padding-left: 5px;
}
.search .icon{
   width: 40px;
   height: 40px;
   background: #555555;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
}

.search fa-icon{
    color: rgb(242,231,71);
}

.search:hover input{
    display: block;
    animation: animate 0.8s;
    animation-fill-mode: forwards;
}

@keyframes animate{
    100%{
       width: 150px;
    }
}

.filter-menu{
    width: 80%;
    padding: 20px;
    background: #888888;
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
    color: #000000;
}

.filter-box{
    padding: 5px;
    background: rgb(242,231,71);
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    outline: none;
    border: none;
}

.filter-menu form{
    margin-top: 10px;
    display: flex;
}

.input-group{
    padding: 3px;
}

.input-group input{
    height: 30px;
    outline: none;
    padding-left: 3px;
}

.filter-menu .icon{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(242,231,71);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 5px;
}

.filter-menu .icon fa-icon{
    font-size: 0.7em;
}

.sortation{
    width: 300px;
    margin-left: auto;
    outline: none;
    height: 30px;
}

@media (max-width: 1780px){
    .filter-menu{
        width: 60%;
        flex-direction: column;
    }
    .filter-menu form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .filter-box{
        margin-left: 150px;
        width: 200px;
    }
    .sortation{
        margin-top: 10px;
        margin-left: 0;
    }

    .client-list{
        max-height: 450px;
    }
}

@media (max-width: 1366px){
    .clients-header, .clients-header button{
        font-size: 0.9rem;
    }
    .list-box{
        width: 150px;
        font-size: 0.9em;
        padding: 4px 8px;
    }
}

@media (max-width: 1100px){
    .clients-header, .clients-header button{
        font-size: 0.7rem;
    }
    .clients-header button{
       padding: 3px;
       text-align: center;
    }
    .filter-menu{
        width: 90%;
        column-gap: 5px;
    }

    .list-box{
        width: 100px;
        font-size: 0.7em;
        padding: 2px 4px;
    }
}

@media (max-width: 750px){
    .filter-menu form{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1fr);
    }
    .filter-box{
        margin-left: 30px;
    }

    .filter-menu .icon{
        margin-top: -20px;
    }

    .list-header{
        display: none;
    }

    .client{
        flex-direction: column;
    }

    .list-box{
        width: 250px;
        font-size: 1em;
        padding: 10px 20px;
    }

    .edit{
        background: rgb(242,231,71);
    }

    .clients-header{
        flex-direction: column;
        row-gap: 20px;
    }

    
}